<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page - BAT Infrastructure Monitoring</title>

  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/login.css" rel="stylesheet">
</head>

<body class="bg-dark d-flex flex-column justify-content-center flex-shrink-0" style="height: 100vh; padding-top: 4%">
  <div class="container align-items-center" style="margin: auto;">
    <div class="card flex-row border-0" style="min-height: 80vh;">
      <div class="card-body d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img src="/static/figure/logo-pjb.svg" width="100">
          </div>
          <div class="col border-start border-1">
            <h5 class="fw-bolder">INFRASTRUCTURE</h5>
            <p class=""><mark>{{ hostname }}</mark></p>
          </div>
        </div>
        <form action="/login" method="POST">
          <div class="m-3">
            <input type="text" class="form-control my-3" name="username" id="username" aria-describedby="emailHelpId" placeholder="Email">
            <input type="password" class="form-control my-3" name="password" id="password" aria-describedby="emailHelpId" placeholder="Password">            
          </div>
          <div class="d-grid m-3 mt-4"  width="100%">
            <button type="submit" class="btn btn-primary" style="width:100%">Login</button>
          </div>
        </form>
      </div>
      <div style="position: relative; overflow: hidden; max-width: 65%; border-radius: .25rem;">
        <img src="/static/figure/f39897c17803e13b418d56efe66757ae.jpg" style="transform: translate(-20%, 0%); object-fit: cover;" width="160%" height="100%" />
      </div>
    </div>
  </div>
</body>

</html>
